@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');

.container-noticia{
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 55px;
    padding-bottom: 200px;
}

#title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    width: 100%;
    padding-left: 5%;

}

#sub_title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: gray;
    width: 80%;
    padding-left: 5%;

}

#autor h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 5px ;
}

#autor hr{
    width: 100%;
    border: 1px solid rgb(71, 71, 71);
    margin-bottom: 50px;
    padding: 0;
    margin: 0;
    
}


.img-notica{
    width: 500px;
    height: 350px;
    grid-area: image;
    align-self: center;
    padding-top: 45px;
}

.img-notica img{
    width: 500px;
    height: 350px;
    padding-bottom: 80px;
}

.artigo p{
    text-align: justify;
    padding-top: 10px;
    padding-left: 5%;
    width: 90%;
    font-family: 'Noticia Text', serif;
    font-size: 25px;
    line-height: 45px;
}